[submodule "roms/seabios"]
	path = roms/seabios
	url = git@gito.corp.nucleisys.com:software/tools/seabios.git
[submodule "roms/SLOF"]
	path = roms/SLOF
	url = git@gito.corp.nucleisys.com:software/tools/SLOF.git
[submodule "roms/ipxe"]
	path = roms/ipxe
	url = git@gito.corp.nucleisys.com:software/tools/ipxe.git
[submodule "roms/openbios"]
	path = roms/openbios
	url = git@gito.corp.nucleisys.com:software/tools/openbios.git
[submodule "roms/qemu-palcode"]
	path = roms/qemu-palcode
	url = git@gito.corp.nucleisys.com:software/tools/qemu-palcode.git
[submodule "roms/sgabios"]
	path = roms/sgabios
	url = git@gito.corp.nucleisys.com:software/tools/sgabios.git
[submodule "dtc"]
	path = dtc
	url = git@gito.corp.nucleisys.com:software/tools/dtc.git
[submodule "roms/u-boot"]
	path = roms/u-boot
	url = git@gito.corp.nucleisys.com:software/tools/u-boot.git
[submodule "roms/skiboot"]
	path = roms/skiboot
	url = git@gito.corp.nucleisys.com:software/tools/skiboot.git
[submodule "roms/QemuMacDrivers"]
	path = roms/QemuMacDrivers
	url = git@gito.corp.nucleisys.com:software/tools/QemuMacDrivers.git
[submodule "ui/keycodemapdb"]
	path = ui/keycodemapdb
	url = git@gito.corp.nucleisys.com:software/tools/keycodemapdb.git
[submodule "capstone"]
	path = capstone
	url = git@gito.corp.nucleisys.com:software/tools/capstone.git
[submodule "roms/seabios-hppa"]
	path = roms/seabios-hppa
	url = git@gito.corp.nucleisys.com:software/tools/seabios-hppa.git
[submodule "roms/u-boot-sam460ex"]
	path = roms/u-boot-sam460ex
	url = git@gito.corp.nucleisys.com:software/tools/u-boot-sam460ex.git
[submodule "tests/fp/berkeley-testfloat-3"]
	path = tests/fp/berkeley-testfloat-3
	url = git@gito.corp.nucleisys.com:software/tools/berkeley-testfloat-3.git
[submodule "tests/fp/berkeley-softfloat-3"]
	path = tests/fp/berkeley-softfloat-3
	url = git@gito.corp.nucleisys.com:software/tools/berkeley-softfloat-3.git
[submodule "roms/edk2"]
	path = roms/edk2
	url = git@gito.corp.nucleisys.com:software/tools/edk2.git
[submodule "slirp"]
	path = slirp
	url = git@gito.corp.nucleisys.com:software/tools/libslirp.git
[submodule "roms/opensbi"]
	path = roms/opensbi
	url = 	git@gito.corp.nucleisys.com:software/tools/opensbi.git
[submodule "roms/qboot"]
	path = roms/qboot
	url = git@gito.corp.nucleisys.com:software/tools/qboot.git
[submodule "meson"]
	path = meson
	url = git@gito.corp.nucleisys.com:software/tools/meson.git
[submodule "roms/vbootrom"]
	path = roms/vbootrom
	url = git@gito.corp.nucleisys.com:software/tools/vbootrom.git
