[submodule "roms/seabios"]
	path = roms/seabios
	url = http://gito.corp.nucleisys.com/software/qemu/seabios.git
[submodule "roms/SLOF"]
	path = roms/SLOF
	url = http://gito.corp.nucleisys.com/software/qemu/SLOF.git
[submodule "roms/ipxe"]
	path = roms/ipxe
	url = http://gito.corp.nucleisys.com/software/qemu/ipxe.git
[submodule "roms/openbios"]
	path = roms/openbios
	url = http://gito.corp.nucleisys.com/software/qemu/openbios.git
[submodule "roms/qemu-palcode"]
	path = roms/qemu-palcode
	url = http://gito.corp.nucleisys.com/software/qemu/qemu-palcode.git
[submodule "roms/sgabios"]
	path = roms/sgabios
	url = http://gito.corp.nucleisys.com/software/qemu/sgabios.git
[submodule "dtc"]
	path = dtc
	url = http://gito.corp.nucleisys.com/software/qemu/dtc.git
[submodule "roms/u-boot"]
	path = roms/u-boot
	url = http://gito.corp.nucleisys.com/software/qemu/u-boot.git
[submodule "roms/skiboot"]
	path = roms/skiboot
	url = http://gito.corp.nucleisys.com/software/qemu/skiboot.git
[submodule "roms/QemuMacDrivers"]
	path = roms/QemuMacDrivers
	url = http://gito.corp.nucleisys.com/software/qemu/QemuMacDrivers.git
[submodule "ui/keycodemapdb"]
	path = ui/keycodemapdb
	url = http://gito.corp.nucleisys.com/software/qemu/keycodemapdb.git
[submodule "capstone"]
	path = capstone
	url = http://gito.corp.nucleisys.com/software/qemu/capstone.git
[submodule "roms/seabios-hppa"]
	path = roms/seabios-hppa
	url = http://gito.corp.nucleisys.com/software/qemu/seabios-hppa.git
[submodule "roms/u-boot-sam460ex"]
	path = roms/u-boot-sam460ex
	url = http://gito.corp.nucleisys.com/software/qemu/u-boot-sam460ex.git
[submodule "tests/fp/berkeley-testfloat-3"]
	path = tests/fp/berkeley-testfloat-3
	url = http://gito.corp.nucleisys.com/software/qemu/berkeley-testfloat-3.git
[submodule "tests/fp/berkeley-softfloat-3"]
	path = tests/fp/berkeley-softfloat-3
	url = http://gito.corp.nucleisys.com/software/qemu/berkeley-softfloat-3.git
[submodule "roms/edk2"]
	path = roms/edk2
	url = http://gito.corp.nucleisys.com/software/qemu/edk2.git
[submodule "slirp"]
	path = slirp
	url = http://gito.corp.nucleisys.com/software/qemu/libslirp.git
[submodule "roms/opensbi"]
	path = roms/opensbi
	url = 	http://gito.corp.nucleisys.com/software/qemu/opensbi.git
[submodule "roms/qboot"]
	path = roms/qboot
	url = http://gito.corp.nucleisys.com/software/qemu/qboot.git
[submodule "meson"]
	path = meson
	url = http://gito.corp.nucleisys.com/software/qemu/meson.git
[submodule "roms/vbootrom"]
	path = roms/vbootrom
	url = http://gito.corp.nucleisys.com/software/qemu/vbootrom.git
